---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me and This Site"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 04 2024")}
  heroImage="../winston.jpg"
>
  <p>
    Hi, my name is Winston Young. You may or may have not already known that. If
    you didn't know that how did you get to this site? Nevermind, don't dwell on
    that too long.
  </p>

  <p>
    I am a software engineer at a company called <a
      href="https://www.shipt.com/">Shipt</a
    >. I primarily work as a front end engineer on Shipt's web application.
  </p>

  <p>
		But now to the purpose of this blog. 
		This is where I will share my side projects and the stories of building them. For now it is just the home of my Bible Sentiment project
		This site began out of necessity to have a place to share my senior project at Wilmington University.
		Hopefully it will also be the place I share any further iterations on that project.
	</p>
</Layout>
