---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello There!</h1>
      <p>
        Welcome to my blog. For now it is hosted on a Github Pages site. If too
        many people start visiting regularly I may look at switching to Netlify
        or something similar. For more information about me and what kinds of
        content you will find on this site, checkout my <a href="/BibleSentiment/about"
          >about page</a
        >.
      </p>
    </main>
    <Footer />
  </body>
</html>
